* {
    box-sizing: border-box;
}

#adImgBox {
    width: calc(100vw - 17px);
    height: 300px;
    background-color: rgb(255, 226, 226);
}

#adImg {
    position: relative;
}

#adRightTab {
    position: absolute;
    right: 50px;
    top: calc((300px - 220px)/2);
    width: 120px;
    height: 240px;
}

#adRightTab>div {
    border: 1px solid black;
    height: calc(220px/4);
}

#firstContainer {
    text-align: center;
    margin-top: 50px;
}

#firstContainer>h3 {
    font-size: 30px;
    font-weight: 500;
    color: #4C4556;
}

#firstContainer>h3>i {
    color: #F6C026;
}

#firstContainerButton {
    gap: 20px;
    font-size: 15px;
    margin-top: 30px;
}

#firstContainerButton>div {
    display: inline-block;
    margin: 0 10px;
    width: 100px;
    height: 100px;
}

#firstContainerButton>div>img {
    border-radius: 50%;
    background-color: #EAA6A240;
    width: 100%;
    margin-bottom: 10px;
}

#secondContainer {
    text-align: center;
    margin-top: 50px;
}

#secondContainer>h3 {
    font-size: 30px;
    font-weight: 500;
    color: #4C4556;
}

#secondContainer>h3>i {
    color: #F6C026;
}


/* ---------------------------------------------  */
#secondContainerList {
    gap: 10px;
    position: relative;
    margin-top: 30px;
    display: flex;
    overflow: hidden;
}

.itemBox {
    display: inline-block;
    width: 200px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 247, 247);
    text-align: initial;
}

.itemBox>img {
    width: 100%;
}

.itemBox>img {
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
}

.itemName {
    margin-top: 5px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 1em;
}

.itemInfo {
    padding-left: 10px;
    font-size: 0.75em;
    color: rgba(54, 54, 54, 0.699);
}

.itemPrice {
    margin: 0;
    margin-top: 7px;
    padding-left: 10px;
    font-size: 1.1em;
    font-weight: 600;
}

.itemOption {
    margin-left: 10px;
    margin-top: 10px;
    width: 55px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    background-color: #CA4046;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}