body {
    display: flex;
    margin: 0;
    height: 100vh;
}
#containerMJ{
    background-color: red;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:repeat(4,1fr)/repeat(3,1fr);
}
.itemBoxMJ{
    background-color: blue;
    width: 100%;
    height: 100%;

}