* {
    margin: 0;
    box-sizing: border-box;
}


.container {
    border: 1px solid;
    width: 70%;
    margin: 0 auto;
}


#topTitle {
    display: flex;
    height: 50px;
    gap: 20px;
    align-items: center;
}

#topTitle>h1 {
    text-indent: 20px;
}

#topTitle>a {
    padding: 5px;
    height: 30px;
    border: 1px solid;
    border-radius: 20%;
    text-decoration: none;
    font-weight: 700;
    color: black;
    background-color: #A0D3F9;
}

#contentBox {
    text-indent: 20px;
}