* {
    margin: 0;
    box-sizing: border-box;
}


.container {
    /* border: 1px solid; */
    width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
    height: 2000px;
}


#topTitle {
    display: flex;
    height: 50px;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

#topTitle>h1 {
    text-indent: 20px;
}

#topTitle>a {
    padding: 5px;
    height: 30px;
    border: 1px solid;
    border-radius: 20%;
    text-decoration: none;
    font-weight: 700;
    color: black;
    background-color: #A0D3F9;
}

.subHeading {
    margin-top: 30px;
    text-indent: 20px;
    margin-bottom: 10px;
}

#stickyBar {
    border: 1px solid;
    width: 150px;
    height: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    left: 5000px;
}


/* ============================= */

#deliveryBox {
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: grid;
    grid-template: repeat(2, 40px) / 1fr 2fr;
}


#deliveryBox>div:first-child {
    grid-row: span 2;
    border-right: 1px solid gray;
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    background-color: #f6bf26a6;
    font-weight: bold;
}

#deliveryBox>div:nth-child(2) {
    display: flex;
    text-indent: 10px;
    line-height: 40px;
}

#deliveryBox>div:nth-child(3) {
    border-top: 1px solid gray;
    text-indent: 10px;
    line-height: 40px;
}

#deliveryBox>div:nth-child(3)>a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    padding: 4px;
    background-color: black;
    font-size: 10px;
    font-weight: 500;
}

/* ========================================== */
#requestBox {
    border-bottom: 2px solid;
    display: grid;
    grid-template: repeat(2, 40px) / 1fr 2fr;
}

#requestBox>div:first-child {
    grid-row: span 2;
    border-right: 1px solid gray;
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    background-color: #f6bf26a6;
    font-weight: bold;
}

#requestBox>div:nth-child(2) {
    display: flex;
    text-indent: 10px;
    line-height: 40px;
}

#requestOption {
    width: 100%;
    height: 100%;
    text-indent: 20px;
}

#requestBox>div:nth-child(3) {
    border-top: 1px solid gray;
    text-indent: 10px;
    line-height: 40px;
}

/* ========================================== */

#orderInfo {
    display: grid;
    grid-template: repeat(2, 40px) / 1fr 2fr;
    border-bottom: 2px solid;
}

#orderInfo>div {
    line-height: 40px;
}

#orderInfo>div:nth-child(n+1):nth-child(-n+2) {
    border-bottom: 1px solid gray;
}

#orderInfo>div:nth-child(odd) {
    border-right: 1px solid gray;
    text-align: center;
    background-color: #f6bf26a6;
    font-weight: bold;
}

#orderInfo>div:nth-child(even) {
    text-indent: 10px;
}

/* ======================================== */


#OrderDetailList {
    display: grid;
    grid-template: repeat(4, 20px) / 1fr 4fr 1fr;
}

#OrderDetailList>div:first-child {
    display: block;
    grid-row: span 4;
}

/* ============================================ */
/* ============================================ */
/* ============================================ */
/* ============================================ */
#OrderCost {
    display: grid;
    grid-template: repeat(3, 30px) / 1fr 2fr;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

#OrderCost>div {
    line-height: 30px;
    border-bottom: 1px solid;
}

#OrderCost>div:nth-child(odd) {
    border-right: 1px solid gray;
    text-align: center;
    background-color: #f6bf26a6;
}

#OrderCost>div:nth-child(even) {
    text-indent: 10px;
}

#OrderCost>div:nth-child(n+5):nth-child(-n+6) {
    border-bottom: none;
}

/* ===================================== */

#useMileage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 2px solid;
    border-top: 2px solid;
    height: 30px;
}