#admin_ChatBotBox {
    height: 95%;
    position: relative;
}

#chatBot_Unidentified {
    height: 90%;
    width: 40%;
    margin-left: 30px;
}

#chatBot_Unidentified div {
    text-align: center;
    background-color: #9B1B30;
    border: 3px solid #9B1B30;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin: 15px 0;
}
#chatBot_Unidentified #chatBot_Unidentified_Title{
    /* border: #9B1B30 2px solid; */
    margin-bottom: 20px;
}
#chatBot_Unidentified #chatBot_Unidentified_Title li{
    background-color:  #fff4f4;
    color: black;
    border: 500;
    font-size: 18px;
    border: #9B1B30 2px solid;

}
#chatBot_Unidentified #chatBot_Unidentified_Title li:nth-child(4){
    /* background-color:  */
    border-radius: 0;
}

#chatBot_Unidentified ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

#chatBot_Unidentified li {
    background-color: #fff;
    height: 50px;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
#chatBot_Unidentified li:nth-child(4){
    cursor: pointer;
    background-color: #9B1B30;
    color: white;
    /* width: 50%; */
    border-radius: 20px;
}

#admin_ChatBotRoom{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 30px;
    top: 0;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    display: grid;
    /* border: 2px solid #9B1B30; */
    
}
#admin_ChatBotRoom_Box{
    border: 2px solid #9B1B30;

}
#admin_ChatBotRoom_Box h4{
    width: 50%;
}
#admin_ChatBotRoom_Box h4:nth-child(2){
    margin-bottom: 20px;
}

#admin_ChatBotRoom div{
    padding: 10px;
    border: 1px solid #ccc;
}
#ChatBotBox {
    position: fixed;
    right: 20px;
    bottom: 0;
    /* width: 500px; */
    display: block;
    background-color: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 600px;
    gap: 10px;
}

#admin_ChatBotRoom_ChatBox {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.admin_ChatBotRoom_managerChat {
    background: #f8dbe1;
    max-width: 60%;
    border-radius: 10px;
    text-align: right;
    align-self: flex-end;
}

.admin_ChatBotRoom_userChat {
    background: #fff5f5;
    max-width: 60%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
}

#admin_ChatBotRoom_chatBotTextBox {
    display: flex;
    justify-content: center;
    text-align: center;
    position: sticky;
    width: 100%;

}

#admin_ChatBotRoom_chatBotTextBox input {
    background-color: #fff4f4;
    font-size: 13px;
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

#admin_ChatBotRoom_chatBotTextBox button {
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    margin-left: 5px;
    border: none;
    font-size: 10px;
    font-weight: 500;
    background-color: #9B1B30;
    color: white;
    cursor: pointer;
}
#admin_ChatBotClose {
    position: relative;
    top: -240px;
    left: 560px;
    background-color: #9B1B30;
    color: #fff;
    width: 25px;
    line-height: 10px;
    text-align: center;
    border-radius: 10px;
}