#listContainer {
    padding-left: 280px;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 30px repeat(4, 1fr);
    grid-template-columns: repeat(4, minmax(calc((800px - 280px - 10px - 30px)/4), calc((1200px - 280px - 10px - 30px)/4)));
    gap: 10px;
    width: calc(100vw - 30px - 10px);
    max-width: 1200px;
    height: calc((100vw - 280px - 30px - 10px)/4*2*4);
    /* max-height: calc((1200px - 280px - 30px - 10px)*2); */
    flex-direction: column;
}

#containerOption {
    height: 30px;
    grid-column: 1/-1;
    display: flex;
    align-items: end;
}

#total>span {
    color: #9B1B30;
    font-weight: 600;
    font-size: 1.2em;
}

/* 모바일 반응형 */

@media (max-width : 1023px) {
    #listContainer {
        grid-template-rows: 30px repeat(4, 1fr);
        grid-template-columns: repeat(3, minmax(calc((800px - 280px - 10px - 30px)/4), calc((1200px - 280px - 10px - 30px)/4)));
        height: calc((100vw - 280px - 30px - 10px)/3*2*4 + 150px);
        /* max-height: calc((1200px - 280px - 30px - 10px)*2); */
    }
}

#listButton {
    position: absolute;
    right: 10px;
    top: -50px;
    display: flex;
    gap: 10px;
}

#listButton>div:nth-child(1) {
    width: 50px;
    height: 50px;
    background-image: url('http://localhost:8090/resources/img/listbutton.png');
    background-size: cover;
    background-position: 0 0;
}

#listButton>div:nth-child(2) {
    width: 50px;
    height: 50px;
    background-image: url('http://localhost:8090/resources/img/listbutton.png');
    background-size: cover;
    background-position: -50px 0;
}

#listButton>div:nth-child(3) {
    width: 50px;
    height: 50px;
    background-image: url('http://localhost:8090/resources/img/listbutton.png');
    background-size: cover;
    background-position: -100px 0;
}