* {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

main {
    display: flex;
}

.container {
    width: calc(100vw - 30px);
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}