* {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 300px;
    background-color: grey;
}

footer {
    width: 100%;
    height: 200px;
    background-color: grey;
}

.container {
    margin: 50px auto;

}

/* ============================================== */
#eventPageTop {
    background: url(/tomatoFarmA/resources/img/jyhTest/topTest.png) no-repeat center;
    background-size: cover;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}

#eventPageTop>div {
    position: absolute;
    left: 100px;
    top: 100px;
    font-family: 'East Sea Dokdo', sans-serif;
}

#eventPageTop>div>p:nth-of-type(1) {
    font-size: 70px;
}

#eventPageTop>div>p:nth-of-type(2) {
    font-size: 50px;
}

#eventPageTop>div>p>span {
    color: #872642;
    text-decoration: overline;
}

#eventPageTop>div>span {
    font-size: 30px;
}

/* ========================================= */


#eventCategory {
    display: grid;
    grid-template: repeat(2, 300px) / repeat(2, 500px);
    gap: 20px;
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
}

#eventCategory>div {
    padding: 30px;
    color: white;
    border-radius: 5%;
    font-size: 22px;
}

#eventCategory>div>p {
    margin-bottom: 20px;
}

#eventCategory>div>ul {
    list-style-type: square;
    /* 리스트스타일을 폰트어썸으로 쓸 수 있다면 바꾸자 */
}

#eventCategory>div:nth-of-type(1) {
    background-color: #F6C026;
}

#eventCategory>div:nth-of-type(2) {
    background-color: #4C4556;
}

#eventCategory>div:nth-of-type(3) {
    background-color: #872642;
}

#eventCategory>div:nth-of-type(4) {
    background-color: #A0D3F9;
}

/* \===================================== */
#eventDetail1_bg {
    padding: 80px;
}

#eventDetail1_bg>div {
    width: 1200px;
    margin: 100px auto;
}

#eventDetail1_1 {
    height: 750px;
    background: url(/tomatoFarmA/resources/img/jyhTest/event1.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

#eventDetail1_1>div:nth-of-type(1) {
    width: 600px;
    text-align: center;
    font-family: 'East Sea Dokdo', sans-serif;
    position: absolute;
    left: calc((1200px - 600px) / 2);
    top: 130px;
}


#eventDetail1_1>div:nth-of-type(1)>div {
    font-size: 100px;
}

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    /* 얘 폰트 굵기 조절이 안돼 */
}

#eventDetail1_1>div>p {
    font-size: 20px;
    font-family: 'KBO-Dia-Gothic_bold';
    /* font-weight: 100; */
}

.rlarndnjsCoupon {
    position: absolute;
    width: 420px;
    height: 340px;
    left: 370px;
    bottom: 90px;
    display: grid;
    grid-template-rows: repeat(2, 170px);
    gap: 10px;
}

.rlarndnjsCoupon>div {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.rlarndnjsCoupon>div>div {
    border-radius: 5%;
    padding: 20px;
    background-color: #f9a7a0;
}

.rlarndnjsCoupon>div>div>h2 {
    text-align: center;
    margin-bottom: 15px;
}


.rlarndnjsCoupon>div>a {
    writing-mode: vertical-lr;
    border: 1px solid;
    border-radius: 10%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 70px;
    background-color: #f64226;
}

/* ======================================= */
@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#timePlace {
    width: 600px;
    display: flex;
    gap: 30px;
    font-family: 'ChosunCentennial';
    position: absolute;
    left: calc((1200px - 600px) / 2);
    top: 30px;

}

#timePlace>div {
    font-size: 70px;
    width: 25%;
    text-align: center;
    /* 글씨 크기 조정이 안돼 */
}

#timePlace>div>span {
    font-size: 25px;
}

/* ======================================= */
#eventDetail1_2 {
    height: 900px;
    background: url(/tomatoFarmA/resources/img/jyhTest/kim1.png) no-repeat center;
    background-size: cover;
}

/* ================================== */
#eventDetail1_3 {
    position: relative;
}

#eventDetail1_3_Tab {
    position: absolute;
    bottom: 103%;
    width: 500px;
    display: flex;
    left: calc((1200px - 500px) / 2);
    justify-content: space-around;
}

#eventDetail1_3_Tab>div {
    border: 1px solid;
    border-radius: 20%;
    padding: 10px;
}

#eventDetail1_3_Tab>div:hover {
    background-color: #872642;
    font-weight: bold;
    color: white;
}


#eventDetail1_3_itemList {
    display: grid;
    grid-template: repeat(2, 300px) / repeat(2, 570px);
    gap: 30px;
    padding: 20px;
}

.itemListBtYH {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc((670px - 50px) / 2);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#prevBt {
    left: -50px;
}

#nextBt {
    right: -50px;
}


.itemDetailYH {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.324);
}

.itemDetailYH>img {
    width: 100%;
    height: 299px;
    padding: 10px;
}

.itemDetailYH>div {
    padding: 50px;
}

.itemDetailYH>div>span {
    color: #872642;
}

.itemDetailYH>div>p {
    margin-top: 10px;
}

.itemDetailYH>div>p:nth-of-type(1) {
    font-size: 22px;
    font-weight: 400;
}

.itemDetailYH>div>p:nth-of-type(2) {
    font-size: 30px;
    font-weight: bold;
}

.itemDetailYH>div>p:nth-of-type(3) {
    text-decoration: line-through;
    color: gray;
    margin-top: 0;
}

/* ========================================= */