#totalContainer {
    display: flex;
    gap: 50px;
    padding: 30px;
    height: calc(100% - 85px);
}

#totalContainer>div {
    border: 1px solid rgba(128, 128, 128, 0.377);
    border-radius: 20px;
    height: 100%;
    overflow-y: auto;
    padding: 30px;
}

#totalContainer>div:nth-child(2) {
    padding: 10px;
}

#totalContainer>div:nth-of-type(1) {
    width: 33%
}

#totalContainer>div:nth-of-type(2) {
    width: 66%
}

#forInsertBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.forInsertRow {
    display: grid;
    grid-template-columns: 30% calc(70% - 20px);
    gap: 20px;
    text-align: right;
}


.forInsertRow>input {
    margin-left: 15px;
    text-align: left;
    text-indent: 7px;
}

.forInsertRow>div:nth-child(2)>input {
    text-indent: 7px;
}

.forbuttonBox {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.forbuttonBox>button {
    margin-top: 10px;
    background-color: #9B1B30;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}

#waitInsertBox {
    position: relative;
}

#waitInsertBox button {
    padding: 5px;
    color: white;
    background-color: #9B1B30;
    position: absolute;
    right: 38px;
    z-index: 10;
}

#waitInsertBox #topBox{
    margin: 0;
}
#waitInsertBox .dataListBox{
    margin: 0;
    height: calc(100% - 90px);
}

#whichBrand {
    text-indent: 7px;
    width: 30%;
    margin-left: 50px;
}