#header {
    width: 100%;
    background-color: aquamarine;
    height: 150px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#topEventBox {
    position: relative;
    padding: 2rem;
    background-color: #000;
}

#lightPlace {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
}


#lightPlace>div:not(.light) {
    opacity: 0;
    animation: flashText 0.8s ease-out alternate infinite;
}

#lightPlace>div.light {
    /* #lightPlace>span>.light { */
    position: relative;
    display: inline-block;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 120%;
        background: #fff;
        filter: blur(40px);
        content: "";
        opacity: 0;
        animation: flash 0.8s ease-out alternate infinite;
    }
}

@keyframes flash {
    to {
        opacity: 1;
    }
}

@keyframes flashText {
    to {
        opacity: 0.4;
    }
}

/* ============================== */

#timePlace {
    font-size: 2em;
    font-weight: 100;
    color: white;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

#timePlace div {
    display: inline-block;
    min-width: 70px;
}

#timePlace div span {
    display: block;
    margin-top: 15px;
    font-size: .35em;
    font-weight: 400;
}

/* ============================ */

