* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.containerYH {
    margin: auto;
    padding: 20px;
}

.headtitle {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.subtitle {
    padding-left: 10px;
    border-left: 10px solid #9B1B30;
}


/* ============= 최상단 제목 ============== */
#topBoxYH {
    position: relative;
    height: 100px;
}

#topBoxLeftYH {
    display: flex;
    align-items: end;
}

#topBoxRightYH {
    position: absolute;
    right: 0;
    top: calc((30px - 25px)/2);
}

#topBoxRightYH>button {
    height: 25px;
}

#saveBtYH {
    background-color: #9B1B30;
    color: white;
}

#topSearchBoxYH {
    margin-top: 20px;
    padding-left: 30px;
    width: 100%;
    line-height: 50px;
    display: flex;
    gap: 30px;
    background-color: #ca404630;
}

/* =================== 주문현황 ================== */
.currentOrderYH {
    display: flex;
    flex-direction: column;
}

.currentOrderHeadYH {
    display: grid;
    grid-template: repeat(2, 30px) / repeat(8, 1fr);
    text-align: center;
}

.tbElement {
    border: 1px solid #CA4046;
}

.orderCount {
    grid-row: span 2;
    line-height: 60px;
}

.costAmount {
    grid-column: span 5;
}

.loanAmount {
    grid-row: span 2;
    line-height: 60px;
}

.timeLeft {
    grid-row: span 2;
    line-height: 60px;
}

.insertRowCurrentYH {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

/* =============== 주문내역 ========= */

.orderedListYH {
    border: 1px solid;
    width: 100%;
    line-height: 50px;
    /* height: 50px; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.insertRowYH {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr 3fr 1.5fr 1fr 1.5fr 1fr 1.3fr 1.3fr 1.4fr 1.3fr 1.4fr 3fr 1.3fr 2fr 1.3fr 2fr 1.3fr 1.3fr;
    line-height: 30px;
    width: 100%;
    line-height: 50px;
    height: 50px;
}