#mypage {
    width: calc(100vw - 30px);
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#mypage h3 {
    font-size: 30px;
    font-weight: 500;
    color: #4c4556;
    text-align: center;
    margin: 30px 0;
    width: 100%;
}

#mypage>h3>i {
    color: #F6C026;
}

#mypage_nav {
    width: 25%;
    list-style: none;
    line-height: 50px;
    font-size: 20px;
    text-align: right;
}

#mypage_nav li:nth-of-type(1) {
    border-top: 1px solid #4c455650;
}

#mypage_nav li {
    border-right: 1px solid #4c455650;
    padding-right: 20px;
    border-bottom: 1px solid #4c455650;
    cursor: pointer;
}

#mypage_nav li:hover{
    text-decoration: underline;
}

#mypage_content {
    /* background-color: blue; */
    margin-left: 30px;
    width: calc(75% - 30px);
}