<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ItemMapper">

    <select id="selectRecentItemWhereUserId" resultType="com.example.demo.item.item.domain.ItemDTO">
        SELECT re.*
            FROM (SELECT
                    i.name            as      name,
                   i.code            as      code,
                   i.sort1           as      sort1,
                   i.sort2           as      sort2,
                   i.sort3           as      sort3,
                   i.brand           as      brand,
                   i.weight          as      weight,
                   i.storage         as      storage,
                   i.packing         as      packing,
                   i.delivery        as      delivery,
                   i.price           as      price,
                   i.vat             as      vat,
                   i.origin          as      origin,
                   i.sales           as      sales,
                   i.stock           as      stock,
                   i.views           as      views,
                   i.likes           as      likes,
                   i.item_event_code as      itemEventCode,
                   i.user_id_admin   as      userIdAdmin,
                   i.intro           as      intro,
                   ie.discount       as      itemEventDiscount,
                   ie.name           as      eventName
        <if test="userId != null and userId != 'anonymousUser'">
                         ,
                   (SELECT uc.regdate
                    FROM user_cart uc
                    WHERE item_code = i.code
                      AND uc.user_id = #{userId}
                      AND uc.regdate >= DATE_SUB(NOW(), INTERVAL 7 DAY)
                    ORDER BY uc.regdate DESC LIMIT 1) as userCartRegdate,
                    (SELECT od.order_seq
                    FROM order_a oa
                    LEFT JOIN order_detail od ON oa.seq = od.order_seq
                    WHERE od.item_code = i.code AND oa.user_id = #{userId}
                    ORDER BY od.order_seq DESC LIMIT 1) as orderSeq
        </if>
            FROM item i
                LEFT JOIN item_event ie
            ON i.item_event_code = ie.code
            ORDER BY userCartRegdate DESC) as re
        WHERE userCartRegdate is not null
        LIMIT 15
    </select>

    <select id="selectItemWhereKeyword" resultType="com.example.demo.item.item.domain.ItemDTO">
        SELECT re.*
            FROM (SELECT
                    i.name            as      name,
                   i.code            as      code,
                   i.sort1           as      sort1,
                   i.sort2           as      sort2,
                   i.sort3           as      sort3,
                   i.brand           as      brand,
                   i.weight          as      weight,
                   i.storage         as      storage,
                   i.packing         as      packing,
                   i.delivery        as      delivery,
                   i.price           as      price,
                   i.vat             as      vat,
                   i.origin          as      origin,
                   i.sales           as      sales,
                   i.stock           as      stock,
                   i.views           as      views,
                   i.likes           as      likes,
                   i.item_event_code as      itemEventCode,
                   i.user_id_admin   as      userIdAdmin,
                   i.intro           as      intro,
                   ie.discount       as      itemEventDiscount,
                   ie.name           as      eventName
        <if test="keyword2 != null and keyword2 != 'anonymousUser'">
                         ,
                   (SELECT uc.regdate
                    FROM user_cart uc
                    WHERE item_code = i.code
                      AND uc.user_id = #{keyword2}
                      AND uc.regdate >= DATE_SUB(NOW(), INTERVAL 7 DAY)
                    ORDER BY uc.regdate DESC LIMIT 1) as userCartRegdate,
                    (SELECT od.order_seq
                    FROM order_a oa
                    LEFT JOIN order_detail od ON oa.seq = od.order_seq
                    WHERE od.item_code = i.code AND oa.user_id = #{keyword2}
                    ORDER BY od.order_seq DESC LIMIT 1) as orderSeq
        </if>
            FROM item i
                LEFT JOIN item_event ie
            ON i.item_event_code = ie.code) as re
        WHERE sort1 LIKE '%' || #{keyword} || '%' OR sort2  LIKE '%' || #{keyword} || '%'OR sort3 LIKE '%' || #{keyword} || '%'OR brand LIKE '%' || #{keyword} || '%' OR name LIKE '%' || #{keyword} || '%'
        ORDER BY sales DESC
    </select>

    <select id="selectItemListStringWhereTypeNotNull" resultType="com.example.demo.item.item.domain.ItemDTO">
        SELECT re.*
            FROM (SELECT
                    i.name            as      name,
                   i.code            as      code,
                   i.sort1           as      sort1,
                   i.sort2           as      sort2,
                   i.sort3           as      sort3,
                   i.brand           as      brand,
                   i.weight          as      weight,
                   i.storage         as      storage,
                   i.packing         as      packing,
                   i.delivery        as      delivery,
                   i.price           as      price,
                   i.vat             as      vat,
                   i.origin          as      origin,
                   i.sales           as      sales,
                   i.stock           as      stock,
                   i.views           as      views,
                   i.likes           as      likes,
                   i.item_event_code as      itemEventCode,
                   i.user_id_admin   as      userIdAdmin,
                   i.intro           as      intro,
                   ie.discount       as      itemEventDiscount,
                   ie.name           as      eventName
        <if test="keyword2 != null and keyword2 != 'anonymousUser'">
                    ,
                   (SELECT uc.regdate
                    FROM user_cart uc
                    WHERE item_code = i.code
                      AND uc.user_id = #{keyword2}
                      AND uc.regdate >= DATE_SUB(NOW(), INTERVAL 7 DAY)
                    ORDER BY uc.regdate DESC LIMIT 1) as userCartRegdate,
                    (SELECT od.order_seq
                    FROM order_a oa
                    LEFT JOIN order_detail od ON oa.seq = od.order_seq
                    WHERE od.item_code = i.code AND oa.user_id = #{keyword2}
                    ORDER BY od.order_seq DESC LIMIT 1) as orderSeq
        </if>
            FROM item i
                LEFT JOIN item_event ie
            ON i.item_event_code = ie.code) as re
        WHERE itemEventCode is not null
        ORDER BY sales DESC LIMIT 11
    </select>

    <select id="selectItemListWhereBrand" resultType="com.example.demo.item.item.domain.ItemDTO">
        SELECT re.*
        FROM (SELECT
        i.name            as      name,
        i.code            as      code,
        i.sort1           as      sort1,
        i.sort2           as      sort2,
        i.sort3           as      sort3,
        i.brand           as      brand,
        i.weight          as      weight,
        i.storage         as      storage,
        i.packing         as      packing,
        i.delivery        as      delivery,
        i.price           as      price,
        i.vat             as      vat,
        i.origin          as      origin,
        i.sales           as      sales,
        i.stock           as      stock,
        i.views           as      views,
        i.likes           as      likes,
        i.item_event_code as      itemEventCode,
        i.user_id_admin   as      userIdAdmin,
        i.intro           as      intro,
        ie.discount       as      itemEventDiscount,
        ie.name           as      eventName
        <if test="keyword2 != null and keyword2 != 'anonymousUser'">
            ,
            (SELECT uc.regdate
            FROM user_cart uc
            WHERE item_code = i.code
            AND uc.user_id = #{keyword2}
            AND uc.regdate >= DATE_SUB(NOW(), INTERVAL 7 DAY)
            ORDER BY uc.regdate DESC LIMIT 1) as userCartRegdate,
            (SELECT od.order_seq
            FROM order_a oa
            LEFT JOIN order_detail od ON oa.seq = od.order_seq
            WHERE od.item_code = i.code AND oa.user_id = #{keyword2}
            ORDER BY od.order_seq DESC LIMIT 1) as orderSeq
        </if>
        FROM item i
        LEFT JOIN item_event ie
        ON i.item_event_code = ie.code) as re
        WHERE brand = #{keyword}
        ORDER BY sales DESC LIMIT 6
    </select>
</mapper>