.boardAnswer {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 50px;
    font-size: 18px;
}

.boardAnswer:nth-of-type(1) {
    line-height: 60px;
    border-bottom: 1px solid #000;
}

.boardAnswer>div:nth-of-type(1) {
    width: 5%;
}

.boardAnswer>div:nth-of-type(2) {
    width: 7%;
}

.boardAnswer>div:nth-of-type(3) {
    width: 53%;
}

.boardAnswer>div:nth-of-type(4) {
    width: 20%;
}

.boardAnswer>div:nth-of-type(5) {
    width: 15%;
}

.boardAnswer_content a::before {
    content: " | ";
    margin: 0px 10px;
}


.boardAnswer_content{
    height: 100px;
    width: 100%;
    text-align: left;
    padding: 20px;
    border: gray 1px solid;
    background-color: yellow;
    color: red;
}