#askBoardBox {
    position: relative;
    margin-top: 30px;
}

#askBoardBox>h5 {
    font-size: 32px;
    display: inline;
}

#askBoardBox>span {
    color: #00000080;
    margin-left: 20px;
}

#itemAskWrite {
    position: absolute;
    right: 50px;
    background-color: #CA4046;
    top: 20px;
    width: 100px;
    line-height: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

#askBoard {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    margin-top: 30px;
}

.boardRow {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.boardRow:nth-of-type(1) {
    line-height: 60px;
    border-bottom: 1px solid #000;
}

.boardRow>div:nth-of-type(1) {
    width: 8%;
}

.boardRow>div:nth-of-type(2) {
    width: 60%;
}

.boardRow:nth-of-type(1)>div:nth-of-type(3) {
    text-align: center;
}

.boardRow>div:nth-of-type(3) {
    line-height: 35px;
    width: 17%;
    text-align: left;
    text-indent: 50px;
}

.boardRow>div:nth-of-type(4) {
    width: 15%;
}

.boardRow>div:nth-of-type(5) {
    width: 100%;
}