.todoListBox {
    width: 400px;
    height: 95%;
    position: absolute;
    border: #9B1B30 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.todoListTitle{
    text-align: center;
    background-color: #9B1B30;
    border-radius: 10px;
    color: white;
    line-height: 40px;
}

.calendar{
    width: 100%;
    height: 45%;
    margin-top: 8px;
}

.calendar .react-calendar{
    border: #9B1B30 1px solid;
    width: 100%;
    height: 100%;
}

.todoListWirteBox{
    height: calc(100% - 10px - 40px - 5px - 30px - 8px - 45%);
}
.calendar .todo {
    display: flex;
    justify-content: center;
    font-size: 6px;
}
.todayDate{
    text-align: center;
    line-height: 40px;
    background-color: #9B1B30;
    color: white;
    margin-top: 10px;
    border-radius: 15px;
}

.scheduleBoxList{
    list-style: none;
    width: 100%;
    margin-top: 10px;
    overflow-y: auto;
    /* height: 200px; */
    height: calc(100% - 50px);
}
.scheduleBoxList li{
    line-height: 30px;
    position: relative;
}

.scheduleBoxList label:hover{
    text-decoration: underline;
    cursor: pointer;
}
.scheduleBoxList input{
    margin-right: 10px;
}
.scheduleBoxList .buttonBox{
    position: absolute;
    top: 0;
    right: 5px;
}
.scheduleBoxList .buttonBox i{
    margin-left: 15px;
    color: #000;
    cursor: pointer;
}
.scheduleBoxList .buttonBox i:hover {
    color: #9B1B30;
}

.newScheduleBox{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.newScheduleTitle{
    text-align: center;
    line-height: 30px;
    background-color: #9B1B30;
    color: white;
    border-radius: 30px;
    line-height: 50px;
}

.newScheduleWrite{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.newScheduleWrite input {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    text-align: center;
}

.newScheduleWrite button {
    cursor: pointer;
    padding: 7px;
    border: none;
    background-color: #9B1B30;
    color: white;
    border-radius: 5px;
}


.scheduleBoxTotal{
    width: 100%;
    border-radius: 10px;
    line-height: 30px;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}